@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNTk2MzQxNzgtZmI1YS00MTYwLWJhMmMtNTdjMjBmMzM2MzM0IiwidCI6ImVmNDc1ZmYzLTdjZDEtNGZhMy1iYTc3LWY2MzgyNGY3YzM3YyJ9" frameborder="0" allowFullScreen="true"></iframe>
